<!--
  Generated template for the CableTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cable-transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-login">
  <div class="logo-col">
    <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
  </div>
  <ion-grid style="height:57%;margin-top: 26px;">
    <ion-row>
      <ion-col>
        <ion-item class="transparent">
          <ion-label><ion-icon name="" color="primary"></ion-icon></ion-label>
          <ion-input type="text" placeholder="Enter Transaction Pin" name="Pin"></ion-input>
        </ion-item>
        
        </ion-col>
        </ion-row>
        <br>
        <div>
            <button ion-button block (click)="Login()">Pay</button>
          </div>
          <div style="text-align: center;color:#9419c5">
            </div>
          </ion-grid>
</ion-content>
