<ion-tabs class="bottom-tabs">
    <ion-tab [root]="latestRoot" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="historyRoot" tabTitle="History" tabIcon="document"></ion-tab>
    <ion-tab [root]="" tabTitle="" tabIcon="add-circle"></ion-tab>    
    <ion-tab [root]="walletRoot" tabTitle="Wallets" tabIcon="albums"></ion-tab>
    <ion-tab [root]="profileRoot" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
