<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 style="text-align: center; margin-top: 43px;">Enter Your transaction pin to confirm payment</h5>
  <ion-row style="margin-top: 81px;">
    <ion-col>
      <div class="pin">
        {{pin[0]}}
      </div>
    </ion-col>
    <ion-col>
      <div class="pin">
        {{pin[1]}}
      </div>
    </ion-col>
    <ion-col>
      <div class="pin">
        {{pin[2]}}
      </div>

    </ion-col>
    <ion-col>
      <div class="pin">
        {{pin[3]}}
      </div>
    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>
  <ion-row class=keypad>
    <ion-col col-4>
     <button ion-button clear><h3 (click)="enterInput(1)">1</h3></button> 
    </ion-col>
    <ion-col col-4>
        <button ion-button clear><h3 (click)="enterInput(2)">2</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(3)">3</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(4)">4</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(5)">5</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(6)">6</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(7)">7</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(8)">8</h3></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(9)">9</h3></button>
    </ion-col>


    <ion-col col-4>
        <button ion-button clear (click)="Login()"><h5>Done</h5></button>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear><h3 (click)="enterInput(0)">0</h3></button>
    </ion-col>
    <ion-col col-4>
        <button ion-button clear><h5 (click)="clearInput()">Clear</h5></button>

    </ion-col>

  </ion-row>
</ion-footer>

<!-- <ion-grid text-center>
  <ion-row>
    <ion-col>
      <button ion-button round large outline (click)="handleInput('1')"
    </ion-col>
  </ion-row>
</ion-grid> -->