<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


 <ion-content padding class="bg-login">
    <div class="logo-col">
      <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
    </div>
    <ion-grid style="height:57%;margin-top: 26px;">
      <ion-row>
        <ion-col>
          <ion-item class="transparent">
            <ion-label><ion-icon name="call" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Phone number" name="phone" [(ngModel)]="user.phone"></ion-input>
          </ion-item>
          <br>
          <ion-item class="transparent">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item><br>
          <ion-item class="transparent">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input type="password" placeholder=" Confirm Password" name="Confirm" [(ngModel)]="user.Confirm "></ion-input>
           </ion-item><br>

          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Reffcral" name="Reffcral" [(ngModel)]="user.Reffcral"></ion-input>
          </ion-item>
          <br> -->
          <ion-item class="transparent">
            <ion-label><ion-icon name="calendar" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Refferal(optional)" name="email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <br>
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-select placeholder="Sex" style="width: 92%">
              <ion-option>Male</ion-option>
              <ion-option>Female</ion-option>
              <ion-option>Other</ion-option>
            </ion-select>
          </ion-item>
          <br> -->
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="email" name="username" [(ngModel)]="user.sex"></ion-input>
          </ion-item>
          <br> -->
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item><br> -->
         
          <div>
            <button ion-button block (click)="Login()">Register</button>
          </div>
          <div style="text-align: center;color:#9419c5">
            <ion-row>
              <ion-col>
                
              </ion-col>
              <ion-col>
                <!-- <button ion-button block class="na" color="secondary">Login</button> -->
              </ion-col>
            </ion-row>
           </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style = "text-align: center;
    color:#000;  
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;" (click)="submit()">Already have eUzzit account?<span style="color:#9419c5"> Sign In</span></p>
  </ion-content>

