

<ion-content padding>
  <div class="logo-col">
    <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
  </div>
  <ion-row>
    <ion-col>
       <p><b>Recharge</b></p>
    </ion-col>
    <ion-col style="text-align: right">
       <p>Self</p>
     </ion-col>
  </ion-row>
 <ion-row>
   <ion-col>
      <p><b>Network</b></p>
   </ion-col>
   <ion-col style="text-align: right">
      <p>MIN</p>
    </ion-col>
 </ion-row>
 <ion-row>
    <ion-col>
        <p><b>Phone Number</b></p>
      </ion-col>
    <ion-col style="text-align: right">
        <p>9876543210</p>
     </ion-col>
  </ion-row>
  
  <ion-row>
      <ion-col>
          <p><b>Amount</b></p>
        </ion-col>
      <ion-col style="text-align: right">
          <p>200</p>
       </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col>
            <p><b>Wallet</b></p>
          </ion-col>
        <ion-col style="text-align: right">
          <p>Extra</p>
         </ion-col>
      </ion-row>

      <br>
      <div>
          <button ion-button block (click)="Login()">Confirm</button>
        </div>
        <div style="text-align: center;color:#9419c5">
          </div>
</ion-content>
