<ion-header>

  <ion-navbar color="primary">
    <ion-title>Airtime</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <super-tabs tabsPlacement="top" toolbarBackground="primary" toolbarColor="light" indicatorColor="light">
        <super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [id]="page.id"></super-tab>
      </super-tabs>

</ion-content>
