<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cable-TV</ion-title>
  </ion-navbar>
</ion-header>


  <ion-content padding class="bg-login">
    <div class="logo-col">
      <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
      <h4>Cable TV</h4>
    </div>
    <ion-grid style="height:57%;margin-top: 26px;">
      <ion-row>
        <ion-col>
          <ion-item class="transparent">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Input Cable Code" name="Cable" [(ngModel)]="user.Cable"></ion-input>
          </ion-item>
          <br>
          <ion-item class="transparent">
              <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
              <ion-input type="text" placeholder="Amount" name="Amount" [(ngModel)]="user.Amount"></ion-input>
            </ion-item>
            <br>
          <ion-item class="transparent" (click)="openPopup()">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-select placeholder="Subscription Type" style="width: 92%" disabled="true">
              <ion-option>MTN</ion-option>
              <ion-option>GLO</ion-option>
              <ion-option>Airtel</ion-option>
              <ion-option>9Apps</ion-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-item class="transparent">
          <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
          <ion-select placeholder="Select Wallet" style="width: 92%">
            <ion-option>Main Wallet</ion-option>
            <ion-option>Extra Wallet</ion-option>
            <ion-option>Shooping Wallet</ion-option>
          </ion-select>
      </ion-item>
        

          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="eUzzit Coin" name="Coin" [(ngModel)]="user.Coin"></ion-input>
          </ion-item>
          <br>  -->
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Confirm transaction" name="transaction" [(ngModel)]="user.transaction"></ion-input>
          </ion-item>
          <br> -->
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
            <ion-select placeholder="Sex" style="width: 92%">
              <ion-option>Male</ion-option>
              <ion-option>Female</ion-option>
              <ion-option>Other</ion-option>
            </ion-select>
          </ion-item>
          <br> -->
           <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="" color="primary"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Enter your pin" name="pin" [(ngModel)]="user.pin"></ion-input>
          </ion-item>
          <br>  -->
          <!-- <ion-item class="transparent">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item><br> -->
         
           <div>
            <button ion-button block (click)="Login()">Recharge </button>
          </div>
          <div style="text-align: center;color:#9419c5">
          
           </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
