



<ion-content padding>
  <ion-row>
    <ion-col>
       <p><b>Input Cable Code</b></p>
    </ion-col>
    <ion-col style="text-align: right">
       <p>2.o</p>
     </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>
         <p><b>Subscription Type</b></p>
       </ion-col>
     <ion-col style="text-align: right">
         <p>MTN</p>
      </ion-col>
   </ion-row>
   
   <ion-row>
       <ion-col>
           <p><b>Select Wallet</b></p>
         </ion-col>
       <ion-col style="text-align: right">
           <p>Extra</p>
        </ion-col>
     </ion-row>
     
     <!-- <ion-row>
         <ion-col>
             <p><b>Wallet</b></p>
           </ion-col>
         <ion-col style="text-align: right">
           <p>Extra</p>
          </ion-col>
       </ion-row> -->
 
       <br>
       <div>
           <button ion-button block (click)="Login()">Confirm</button>
         </div>
         <div style="text-align: center;color:#9419c5">
           </div>
</ion-content>
