<ion-header style="height: 201px;">
  <ion-navbar color="primary" class="home-navbar">
    <ion-title>eUzzit Wallet <ion-icon name="notifications" style="float: right;"></ion-icon></ion-title>
    
  </ion-navbar>
  <ion-card  class="top-card">
      <ion-row padding>
   <h4 style="float:left; font-weight: bold;"> Bill Payments</h4><br>
      </ion-row>
      <ion-row>
     <ion-col col-3 style="text-align: center">
      <div class="top-icons" (click)="airtimeData()">
        <img src="assets/icon/airTime.png" class="icon-img">
        <p>Airtime</p>
      </div>
     </ion-col>
     <ion-col col-3 style="text-align: center" (click)="cabelTv()">
        <div class="top-icons">
        <img src="assets/icon/cabelTv.png" class="icon-img">
        <p>Cable TV</p>
        </div>
     </ion-col>
     <ion-col col-3 style="text-align: center" (click)="electricity()">
        <div class="top-icons">
        <img src="assets/icon/electricity.png" class="icon-img">
        <p>Electricity</p>
        </div>
     </ion-col>
     <ion-col col-3 style="text-align: center">
        <div class="top-icons">
        <img src="assets/icon/internet.png" class="icon-img">
        <p>Internet </p>
        </div>
     </ion-col>
   </ion-row><br>
   

  </ion-card>
</ion-header>

<ion-content padding>
  
 
  <ion-row>
    <ion-col col-4 style="padding: 0px">
      <ion-card style="margin: 0px; height: 100%">
        <div class="mid-icons">
            <ion-icon name="albums"></ion-icon>
        </div>
          <div class="label-div">
              <p>My Balance</p>
          </div>
          
      </ion-card>
    </ion-col>
    <ion-col col-4 style="padding: 0px">
        <ion-card style="margin: 0px; height: 100%">
          <div class="mid-icons" style="color: #9419c5">
              <ion-icon name="people"></ion-icon>
          </div>
            <div class="label-div">
                <p>My Invites</p>
            </div>
            
        </ion-card>
      </ion-col>
      <ion-col col-4 style="padding: 0px">
          <ion-card style="margin: 0px; height: 100%">
            <div class="mid-icons" style="color: #ffb700">
                <ion-icon name="disc"></ion-icon>
            </div>
              <div class="label-div">
                  <p>My Coins</p>
              </div>
              
          </ion-card>
        </ion-col>
  </ion-row>
  
  <ion-row style="margin-top: 24px;">
    <ion-col style="text-align: center">
        <ion-icon name="send" style="font-size: 28px"></ion-icon>
        <p style="font-size: 10px">Send Money</p>
    </ion-col>
    <ion-col style="text-align: center">9
        <ion-icon name="arrow-round-down" style="font-size: 28px"></ion-icon>
        <p style="font-size: 10px">Recieve Money</p>
    </ion-col>
    <ion-col style="text-align: center">
        <ion-icon name="folder" style="font-size: 28px"></ion-icon>
        <p style="font-size: 10px">Fund Wallet</p>
    </ion-col>
    <ion-col style="text-align: center">
        <ion-icon name="home" style="font-size: 28px"></ion-icon>
        <p style="font-size: 10px">Withdraw</p>
    </ion-col>
    <ion-col style="text-align: center">
        <ion-icon name="qr-scanner" style="font-size: 28px"></ion-icon>
        <p style="font-size: 10px">Scan2Pay</p>
    </ion-col>
    
  </ion-row>

  
  <ion-row style="padding-top: 7px;">
    <ion-col>
       <h4>OFFERS</h4>
    </ion-col>
    <ion-col>
      <ion-icon name="arrow-round-forward" style="float: right; font-size: 23px"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="assets/icon/locked.png">
    </ion-col>
    <ion-col>
        <img src="assets/icon/wallet.png">
      </ion-col>
  </ion-row>
  





</ion-content>
