page-home {
    ion-title {
        width: 100%;
    }
    .home-navbar {
    height: 100px;
    padding: 9px;
    align-items: normal;
    }
    .icon-img {
        height: auto;
    width: 23px;
    margin: 0 auto;
    }

    .top-icons {
        padding: 3px;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background: #c3bdbd;
    padding-top: 10px;

    p {
        font-size: 11px;
    }
    }
    .top-card {
        position: absolute;
        margin-top: -46px;
    
    }
    .mid-icons {
        text-align: center;
    padding: 14px;
    font-size: 32px;
    color: green;

    }

    .label-div {
        padding: 5px;
    background: #9419c5;
    color: white;

    p {
        text-align: center;
    font-size: 12px;
    color: white;
    }
    }
}
