


<ion-content padding>
    <ion-item (click)="onClick()">
        <img src="assets/imgs/DStv_Logo.png"> <span style="position: absolute">DsTV</span>
    </ion-item>
  <ion-item (click)="onClick()">
      <img src="assets/imgs/GO.png" style="width: 34px;"> <span style="position: absolute">GoTV</span>
  
  </ion-item>
 
 
  </ion-content>
  