    <ion-header>
      <ion-navbar>
        <ion-title>Paragraph </ion-title>
      </ion-navbar>
    </ion-header>
    
    
    <ion-content>
  <img src="https://static.javatpoint.com/htmlpages/images/animal.jpg" alt="alt text"width="100px" height="110px" style="float: left">
  <img src="https://static.javatpoint.com/htmlpages/images/animal.jpg" alt="alt text"width="100px" height="110px" style="float: right">
    <p>little eagle aligned to left of textIn this paragraph the alignment attribute of the image is set to float:left.
     When the float left property is chosen text will flow to the right of the image.
    If it is a large image, ensuing paragraphs and elements like h1-h6 will also flow to the right of the image.
    We prevented that from happening on this page by placing a the following code after the desired amount of text that we wanted beside of the image.
    little eagle aligned to left of textIn this paragraph the alignment attribute of the image is set to float:left.
    When the float left property is chosen text will flow to the right of the image.
    If it is a large image, ensuing paragraphs and elements like h1-h6 will also flow to the right of the image.
    We prevented that from happening on this page by placing a the following code after the desired amount of text that we wanted beside of the image.</p>
    <button ion-button (click)="goBack()">Go Back!</button>
</ion-content> 

