<ion-content padding>

  <ion-item (click)="onClick()">
    <img src="assets/imgs/mtn.jpg"> MTN
  </ion-item>

  <ion-item (click)="onClick()">
    <img src="assets/imgs/ai.png"> Ai
  </ion-item>

  <ion-item (click)="onClick()">
    <img src="assets/imgs/glo.jpg"> GLO
  </ion-item>
  <ion-item (click)="onClick()">
    <img src="assets/imgs/9Mobile.jpg"> 9Mobile

  </ion-item>

</ion-content>