


<ion-content padding>
  <ion-row>
    <ion-col col-4>
</ion-col>
    <ion-col col-4>
        <img class="top" src="assets/imgs/thumb.jpeg">
    </ion-col>
    <ion-col col-4>
</ion-col>
  </ion-row>
  <h2 style="text-align: center">Thank You</h2>
<ion-row>
  <ion-col >
   <p style="text-align:center"> Transaction was successful you have earned euzzit coin</p>
  </ion-col>
</ion-row>
<br>
<div>
<button ion-button block (click)="Login()">Ok</button>
</div>
<div style="text-align: center;color:#9419c5">
  </div>
</ion-content>
 