page-data-confirmation {
    .logo {
        font-family: cursive;
        color: #9419c5;
        font-size: 43px;
       }
    
       .logo-col {
       //  color: white;
        text-align: center;
        // margin-top: 33px;
       }
       .scroll-content {
        padding: 0;
    }
}
