<ion-header>
  <ion-navbar color="primary">
    <ion-title>Verify-OTP</ion-title>
  </ion-navbar>
</ion-header>



  <ion-content padding class="bg-login">
    <div class="logo-col">
      <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
    </div>
    <ion-grid style="height:57%;margin-top: 26px;">
      <ion-row>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8 padding>
         <p style="text-align: center; color:#9419c5 ">An OTP is sent to your Mobile No.</p>
            </ion-col>
            <ion-col col-2> 
      </ion-col>
    </ion-row>
          <br>
          <ion-item class="transparent">
              <ion-label><ion-icon name="" color="primary"></ion-icon></ion-label>
              <ion-input type="text" placeholder="Enter OTP" name="OTP" [(ngModel)]="user.OTP"></ion-input>
            </ion-item>
            <br>
          <div>
              <button ion-button block (click)="Login()">Verify-OTP</button>
            </div>
            <div style="text-align: center;color:#9419c5">
              </div>
          </ion-grid>
  </ion-content>

