<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


 <ion-content padding class="bg-login">
    <div class="logo-col">
      <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
    </div>
    <ion-grid style="height:57%;margin-top: 26px;">
      <ion-row>
        <ion-col>
            <ion-item class="transparent">
                <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
                <ion-input type="text" placeholder="username" name="username" [(ngModel)]="user.username"></ion-input>
              </ion-item>
              <br>
          <ion-item class="transparent">
            <ion-label><ion-icon name="lock" color="primary"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
           <p style="text-align: right;color:#9419c5">forget password</p>
          
         
        

         
          <div>
            <button ion-button block (click)="Login()">Login</button>
          </div>
          <div style="text-align: center;color:#9419c5">
             </div>
        </ion-col>
      </ion-row>

    
    
    </ion-grid>
    <p></p>
    <p style = "text-align: center;
    color:#000;  
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;" (click)="submit()">Don't have a eUzzit Wallet?<span style="color:#9419c5"> Create new account</span></p>

  </ion-content>
