page-airtime {
    .bg-login {
        // background:linear-gradient(0deg,rgba(19, 18, 18, 0.97), rgba(8, 8, 8, 0.35)),url('/assets/imgs/login_bg.png');
     //    background-image: url('/assets/imgs/login_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
       
    }
 
    .transparent {
        background: transparent;
        border: 1px solid #9419c5;
        height: 43px;
    }

    .transparent1 {
        background: transparent;
        height: 48px;
        padding-left: 0px
    }
    .select-md .select-icon {
       
        width: 21px;
       
    }
    .item-md .radio-md[item-left], .item-md .radio-md[item-start] {
        margin: 11px 9px 10px 4px;
    }
 
    .logo {
     font-family: cursive;
     color: #9419c5;
     font-size: 43px;
    }
 
    .logo-col {
    //  color: white;
     text-align: center;
     margin-top: 33px;
    }
    .item-md.item-block .item-inner {
     border-bottom: 0px solid #dedede;
    //  color: white
 }
 
 .item-md.item-input.item-input-has-focus .item-inner {
     border-bottom: 0px solid #dedede;
     box-shadow: 0px 0px 0px 0px #dedede !important;
    //  color: white;
     font-size: 12px
 }
 .item-md.item-block .item-inner ::placeholder { /* Internet Explorer 10-11 */
    //  color: white;
     font-size: 12px
 }
 
 .fp {
     font-size: 12px;
    //  color: #fff;
 }
 .na {
     font-size: 12px;
 }
 .col {
     padding: 0px;
 }

 .select-md {
    max-width: 100%!important;
    width: 91%!important;
    right: auto!important;
    direction: ltr!important;
    padding: 0;
    font-size: 12px;
}


.select-text{
   font-size: 14px
}
}
