<ion-content padding class="bg-login">
  <div class="logo-col">
    <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
  </div>
  <ion-grid style="height:57%;margin-top: 26px;">
    <ion-row>
      <ion-col>

        <ion-row radio-group>
          <ion-col col-4>
            <ion-label>Recharge:</ion-label>
          </ion-col>
          <ion-col col-4 padding style="padding: 0">
            <ion-item class="transparent1">
              <ion-label style="font-size:12px">Self</ion-label>
              <ion-radio item-left value="self" checked></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4 padding style="padding: 0">
            <ion-item class="transparent1">
              <ion-label style="font-size:12px">Others</ion-label>
              <ion-radio item-left value="others"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- </ion-item> -->
        <br>
        <ion-item class="transparent">
          <ion-label>
            <ion-icon name="call" color="primary"></ion-icon>
          </ion-label>
          <ion-input type="number" placeholder="Phone Number" name="Number"></ion-input>
        </ion-item>
        <br>

        <ion-item class="transparent" (click)="openNetwork()">
          <ion-label>
            <ion-icon name="person" color="primary"></ion-icon>
          </ion-label>
          <ion-select placeholder="Network" style="width: 92%" disabled="true">
            <ion-option> MTN</ion-option>
            <ion-option>GLO</ion-option>
            <ion-option>Airtel</ion-option>
            <ion-option>9Mobile</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item class="transparent">
          <ion-label>
            <ion-icon name="person" color="primary"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Amount" name="amount"></ion-input>
        </ion-item>
        <br>

        <ion-item class="transparent">
          <ion-label>
            <ion-icon name="person" color="primary"></ion-icon>
          </ion-label>
          <ion-select placeholder="Choose Wallet" style="width: 92%">
            <ion-option>Shopping Wallet</ion-option>
            <ion-option>Extra Wallet</ion-option>
            <ion-option>Main Wallet</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <div>
          <button ion-button block (click)="Login()">Recharge</button>
        </div>
        <div style="text-align: center;color:#9419c5">
          <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>