page-confirm-pin {
    .bg-login {
        // background:linear-gradient(0deg,rgba(19, 18, 18, 0.97), rgba(8, 8, 8, 0.35)),url('/assets/imgs/login_bg.png');
     //    background-image: url('/assets/imgs/login_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
       
    }
 
    .transparent {
       
            padding-left: 15px;
            letter-spacing: 42px;
            border: 0;
            background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 50px 1px;
            background-repeat: repeat-x;
            background-position-x: 35px;
            width: 220px;
       
       
    }

 
    .logo {
     font-family: cursive;
     color: #9419c5;
     font-size: 43px;
    }
 
    .logo-col {
    //  color: white;
     text-align: center;
     margin-top: 33px;
    }
    .item-md.item-block .item-inner {
     border-bottom: 0px solid #dedede;
    //  color: white
 }
 
 .item-md.item-input.item-input-has-focus .item-inner {
     border-bottom: 0px solid #dedede;
     box-shadow: 0px 0px 0px 0px #dedede !important;
    //  color: white;
     font-size: 12px
 }
 .item-md.item-block .item-inner ::placeholder { /* Internet Explorer 10-11 */
    //  color: white;
     font-size: 12px
 }
 
 .fp {
     font-size: 12px;
    //  color: #fff;
 }
 .na {
     font-size: 12px;
 }
 .col {
     padding: 0px;
 }

 .select-md {
    max-width: 100%!important;
    width: 91%!important;
    right: auto!important;
    direction: ltr!important;
    padding: 0;
    font-size: 12px;
}


.select-text{
   font-size: 14px
}

.keypad {
    .col {
        text-align: center;
         button {

             color: #6b6969;
         }
    }     
}

// .myhover:hover{
//     background-color: grey;
// }

.pin {
       
    width: 45px;
height: 45px;
border: 1px solid #9E9E9E;
border-radius: 45px;
text-align: center;
margin: 0 auto;
padding-top: 12px;
    font-weight: bold;
}

ion-footer {
bottom: 67px
}
}
