<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-login">
  <div class="logo-col">
    <h2 style="font-size: small;"><span class="logo">eUzzit</span>Wallet</h2>
  </div>
  <ion-grid style="height:57%;margin-top: 26px;">
    <ion-row>
      <ion-col>
        <ion-item class="transparent">
          <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
          <ion-input type="text" placeholder="Surname" name="Name" [(ngModel)]="user.Name"></ion-input>
        </ion-item>
        <br>
        <ion-item class="transparent">
          <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
          <ion-input type="text" placeholder="First Name" name="fullName" [(ngModel)]="user.fullName"></ion-input>
        </ion-item>
        <br>
        <ion-item class="transparent">
            <ion-label><ion-icon name="calendar" color="primary"></ion-icon></ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="DOB"></ion-datetime>
          </ion-item>
       
        <br>
        <ion-item class="transparent">
          <ion-label><ion-icon name="person" color="primary"></ion-icon></ion-label>
          <ion-select placeholder="sex"style="width: 92%">
            <ion-option>Male</ion-option>
            <ion-option>Female</ion-option>
            <ion-option>Other</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item class="transparent">
          <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
          <ion-input type="text" placeholder="Email" name="username" [(ngModel)]="user.sex"></ion-input>
        </ion-item>
        <br>
        <div>
          <button ion-button block (click)="Login()">Register</button>
        </div>
        <div style="text-align: center;color:#9419c5">
          <ion-row>
            <ion-col>
              
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>